<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
  <div class="content p-16">
    <div class="pt-16 pb-32" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
      <form class="mat-card mat-elevation-z4 p-24 pb-32" ngNativeValidate #myForm="ngForm" fxLayout="column" (ngSubmit)="onSubmit(myForm)" fxLayoutAlign="start"
        fxFlex="1 0 auto">
        <div class="h2 mb-24">Department Details</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>Department Name</mat-label>
            <input type="text" matInput autocomplete="off" name="departmentName" [(ngModel)]="departmentName"
              placeholder="Department Name" required>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>
        <div align="center">
        	<button mat-raised-button color="accent" class="submit-button" aria-label="Submit">{{departmantBtnText}}</button>
        </div>
      </form>
	</div>
	<div class="mat-elevation-z8 fuse-card auto-width p-8" fxLayout="column" fxLayoutAlign="center center"
		fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="flex-end center">
		<mat-form-field appearance="outline" class="noPaddingBottom">
			<input matInput (keyup)="applyFilter($event.target.value)" autocomplete="off" placeholder="Department">
		</mat-form-field>
	</div>
	<div class="pt-16 pb-32" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
		<table mat-table [dataSource]="dataSource">
	
			<ng-container matColumnDef="sno">
				<th mat-header-cell *matHeaderCellDef>S.No. </th>
				<td mat-cell *matCellDef="let row;let i=index;"> {{ i + 1 }} </td>
			</ng-container>
	
			<ng-container matColumnDef="department_name">
				<th mat-header-cell *matHeaderCellDef>Department Name </th>
				<td mat-cell *matCellDef="let row"> {{row.department_name}} </td>
			</ng-container>
	
			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef> Action </th>
				<td mat-cell *matCellDef="let row">
					<div style="display: flex;justify-content: center;">
						<button type="button" mat-icon-button title="Edit" color="accent" (click)="edit(row)">
							<mat-icon>edit</mat-icon>
						</button>
						<button mat-icon-button type="button" title="Delete" class="actionBtn" color="accent" (click)="delete(row)">
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				</td>
			</ng-container>
	
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;">
			</tr>
		</table>
	</div>
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>