.mat-form-field {
    padding-left: 1%;
}
table {
    width: 100%;
}
th,td{
    text-align: center !important;
}
.image-preview{
    width: 20%;
    margin: 2px;
    height: 100px;
    border: 1px solid black;
    padding: 3px;
}
form{
    width: 100%;
}