.mat-form-field {
    padding-left: 1%;
}
.fullwidth{
    width: 100%;
}
table {
    width: 100%;
}
th,td{
    text-align: center !important;
}
.actionBtn{
    margin-left: 1%;
}
.image-preview{
    max-height: 250px;
    width: auto;
    max-width: 70%;
}